@font-face {
font-family: "DroidKufi-Bold";
font-style: normal;
font-weight: 700;
src: url("//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.eot?#iefix") format("embedded-opentype"), url("//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.woff2") format("x-woff2"), url("//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.woff") format("woff"), url("//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.ttf") format("truetype");
}
body{user-select:none;background:#222;font-family:DroidKufi-Bold;color:#ffffff;text-align:right}
*{margin:0}
.info{text-align:center;background:#90A4AD;color:#222;}
#links{text-align:center}
.report{font-size:13px;margin-right:7px;margin-top:20px;text-align:center}
.report a{cursor:none;color:#90A4AD;text-decoration:none;transition:0.4s}
.vjs-control{
  background:rgba(144, 164, 173, 0.61)!important;cursor: none!important;
}
